# Rust build artifacts
/target
**/*.rs.bk

# Python virtual environments
/venv
/.env
.venv/

# Python cache files
__pycache__/
/*.py[cod]
*.pyo
*.pyd

# Maturin build artifacts
/pytherparse.egg-info/
/build/
/dist/

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo

# IDE/editor-specific files
.vscode/
/.idea/
/*.iml

# MacOS-specific files
.DS_Store


# Test files

tests/